@import url('https://fonts.googleapis.com/css2?family=Niramit&display=swap');

.container {
  background: #3d405b;
  display: flex;
  justify-content: center;
  
  article {
    font-family: Niramit;
    display: flex;
    justify-content: center;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #3d405b;

    h1 {
      font-size: 60px;
      color: #f2cc8f;
      margin-top: 0;
    }

    div {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: baseline;
    }

    .timer {
      margin: 40px 0;
    }
    
    section {
      color: #3d405b;
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 10px;
      background: #81b29a;
      border: 1px solid #e07a5f;
      padding: 10px 20px;

      h3 {
        font-size: 25px;
      }

      p {
        font-size: 30px;
        margin: 0 0 30px 0;
      }

      div {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        button {
          padding: 5px 0;
          width: 35%;
          font-size: 16px;
          font-family: Niramit;
          border-radius: 10px;
          border: 1px solid #e07a5f;
          background: #f2cc8f;
        }
      }
    }
  }
}
