@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,500&display=swap');

article {
  height: calc(100vh - 81px);
  font-family: Montserrat;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #43C298;
  
  .quoteBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    padding: 35px;
    margin: 0 0 5% 0;
    background: #CFD;
    border-radius: 3px;
    
    .author {
      font-style: italic;
      font-weight: 400;
      margin-left: 30%;
    }
    
    .buttons {
      display: flex;
      width: 95%;
      justify-content: space-between;

      .newQuote, a {
        margin: 0 10px;
        background: #232323;
        color: #fff;
        border-radius: 5px;
        padding: 5px 10px;
        text-decoration: none;
      }
    }
  }
}